name: "Terraform Application"

on: workflow_dispatch

# on:
#   pull_request:
#     branches:
#       - main
#   push:
#     branches:
#       - main      

permissions:
  id-token: write
  contents: read
  
jobs: 
  terraform-init-plan:
    runs-on: self-hosted
    steps: 
      - name: Checkout
        uses: actions/checkout@v5.0.0
    
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: 13d03ea1-924a-49ed-81d0-057a1c03fc98
          tenant-id: 4616d612-8bc9-4839-bf28-e030beab3250
          subscription-id: 5ed71b72-e131-4c8d-8029-6d14191c6dfe
            
      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true
        working-directory: environment/prod
        
      - name: Terraform Init
        id: init
        run: terraform init -input=false  
        working-directory: environment/prod

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
        working-directory: environment/prod       
      
      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false
        continue-on-error: true
        working-directory: environment/prod   
        
  terraform-apply:    
    runs-on: self-hosted
    if: github.ref == 'refs/heads/main'
    needs: terraform-init-plan
    # environment: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
    
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
         client-id: 13d03ea1-924a-49ed-81d0-057a1c03fc98
         tenant-id: 4616d612-8bc9-4839-bf28-e030beab3250
         subscription-id: 5ed71b72-e131-4c8d-8029-6d14191c6dfe
          
      - name: Terraform Init
        id: init
        run: terraform init -input=false  
        working-directory: environment/prod

      - name: Terraform Apply
        id: apply
        run: terraform apply --auto-approve
        continue-on-error: true
        working-directory: environment/prod
